@inherits LayoutComponentBase

<div class="container">
	<nav>
		<NavLink href="/" Match="NavLinkMatch.All"><h1>Bag-it</h1></NavLink>
		<NavLink class="nav-link" href="register" Match="NavLinkMatch.All"> Register
		</NavLink>
	</nav>
	<main>
		<article>
			@Body
		</article>
	</main>
</div>
