@page "/"
@using BagIt.Services
@using BagIt.Models
@inject UserService UService

<div class="category-container">
    <NavLink href="/" Match="NavLinkMatch.All">
        <input class="form-button" type="submit" value="New List" />
	</NavLink>
</div>