@font-face {
    font-family: 'Rubik', sans-serif;
    src: url('./fonts/Rubik-Regular.ttf');
}

h2 {
    margin-top: 1em;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    color: #FFFFFF;
    font-size: 1.5em;
}

.view-category-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2C6D6A;
    min-height: 100vh;
}

.table-container{
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
}

.product-description {
    display: inline-block;
    font-weight: 700;
    font-size: 0.8rem;
    color: #FFFFFF;
    margin: 1em;
    border-radius: 5px;
    background-color: #12615D;
    width: 100px;
    height: 100px;
}

.product-description:hover {
    background-color: #1F4846;
}

.form-button {
    background-color: #12615D;
    color: #FFFFFF;
    padding: 1em 3em 1em 3em;
    font-weight: 700;
    margin-bottom: 3em;
    border-style: solid;
    border-radius: 5px;
    border-color: #FFFFFF;
}