@font-face {
    font-family: 'Rubik', sans-serif;
    src: url('./fonts/Rubik-Regular.ttf');
}

.form-button {
    background-color: #12615D;
    color: #FFFFFF;
    padding: 1em 3em 1em 3em;
    font-weight: 700;
    margin-bottom: 3em;
    border-style: solid;
    border-radius: 5px;
    border-color: #FFFFFF;
}

.form-button:hover {
    background-color: #1F4846;
}