@page "/login"
@using Models
@using System.Net.Http
@using System.Net.Http.Headers
@using System.Net.Http.Json
@using System.Text.Json
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq

<div>
    <input type="text" name="Email" placeholder="Email" @bind="Email" />
    <input type="password" name="Password" placeholder="Password" @bind="Password" />
    <button type="button" @onclick="PostRegister">Login</button>
    <p>@token?.Token</p>
</div>

@code {
    static HttpClient client = new HttpClient();
    public string Email;
    public string Password;
    public string url = "https://localhost:7210/api/user/login";
    public JWToken token;

    public async Task PostRegister()
    {
        try
        {
            var user = new User{
                Email = this.Email,
                Password = this.Password
            };

            HttpResponseMessage response = await client.PostAsJsonAsync(url, user);
            var jsonString = await response.Content.ReadAsStringAsync();
            JWToken deserialized = JsonConvert.DeserializeObject<JWToken>(jsonString);
            

        } catch (Exception e)
        {
            throw new Exception("Error logging in");
        }
        
    }
}   