@font-face {
    font-family: 'Rubik', sans-serif;
    src: url('../wwwroot/fonts/Rubik-Regular.ttf');
}

.form-container {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    min-height: 90vh;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.input-container input {
    border-style: solid;
    border-color: #1F4846;
    font-size: 1.2rem;
    font-style: italic;
}

.list-container {
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
    padding-top: 1em;
    height: 70vh;
}

.list-container ul {
    list-style: none;
}

.button-container {
    display: flex;
    justify-content: space-around;
}

.form-button {
    background-color: #12615D;
    color: #FFFFFF;
    padding: 1em 3em 1em 3em;
    font-weight: 700;
    margin-bottom: 3em;
    border-style: solid;
    border-radius: 5px;
    border-color: #FFFFFF;
}

.form-button:hover {
    background-color: #1F4846;
}