@font-face {
    font-family: 'Rubik', sans-serif;
    src: url('../wwwroot/fonts/Rubik-Regular.ttf');
}

h2 {
    margin-top: 1em;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    color: #E74747;
    font-size: 1.5em;
    
}

.view-category-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    min-height: 90vh;
}

.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    margin: 1em 0 1em 0;
    width: 100%;
    font-size: 1.2rem;
}

.add-button,
.form-button {
    text-align: center;
    border-style: none;
    border-radius: 10px;
}

.add-button {
    border-radius: 5px;
    font-style: normal;
    font-weight: 800;
    color: #E74747;
}

.form-button {
    margin: 1em;
    padding: 0.5em 2em 0.5em 2em;
    background-color: #E74747;
    font-size: 0.9rem;
    color: #FFFFFF;
    width: 100px;
}
